<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-create-article mt-[100px]">
    <div class="container">
        <div class="card">
            <div class="card-header">
                글 작성
            </div>
            <div class="card-body">
                <form th:action="@{/article/create}" th:object="${articleForm}" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" name="title" id="title" class="form-control" th:field="*{title}">
                        <div th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">내용</label>
                        <textarea name="content" id="content" class="form-control" th:field="*{content}"></textarea>
                        <div th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">등록하기</button>
                </form>
            </div>
        </div>
    </div>
</section>
</html>