<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-article-detail mt-[100px]">
    <div class="container">
        <div class="card">
            <div class="card-header">
                글 상세정보
            </div>
            <ul class="list-group list-group-flush gap-2">
                <li class="list-group-item">
                    <span>제목: </span>
                    <span class="font-bold" th:text="${article.title}"></span>
                </li>
                <li class="list-group-item">
                    <span>내용: </span>
                    <p th:text="${article.content}"></p>
                </li>
                <li class="list-group-item">
                    <span>등록날짜: </span>
                    <span th:text="${article.createDate}"></span>
                </li>
                <li class="list-group-item">
                    <span>수정날짜: </span>
                    <span th:text="${article.modifyDate}"></span>
                </li>
            </ul>
        </div>
    </div>
</section>