<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Article List</title>
</head>
<body>
<section layout:fragment="content" class="container mt-4">
    <h2>Article List</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Created Date</th>
            <th>Modified Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- 글 목록을 반복해서 출력하는 부분 -->
        <tr th:each="article : ${articles}">
            <td th:text="${article.id}"></td>
            <td th:text="${article.title}"></td>
            <td th:text="${article.content}"></td>
            <td th:text="${article.createDate}"></td>
            <td th:text="${article.modifyDate}"></td>
            <td>
                <!-- 글 상세 페이지 링크 -->
                <a th:href="@{/article/detail/{id}(id=${article.id})}" class="btn btn-info btn-sm">상세보기</a>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>